* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 70px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    margin-left: 70px;
    color: gray;
}
h3{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500; 
    margin-left: 70px;
    color: gray;
}
a {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: justify;
}
.main-container{
    margin-bottom: 50px;
    margin-left: 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
main {
    display: grid;
    grid-template-columns: repeat(3, 400px); 
    gap: 18px;
    padding: 20px;
}
.artcontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 370px;
    width: 370px;
    border: 1px solid lightgray;
    box-shadow: 5px 5px 5px 5px #ccc;
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 50px;
}
.artcontainer .image {
    height: 70%;
    margin-bottom: 18px;
}
.artcontainer .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.artcontainer .caption {
    padding-left: 1em;
    text-align: left;
    line-height: 2em;
    height: 25%;
}

.artcontainer .caption p {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.artcontainer:hover{
    transform: scale(1.1);
}